$main-font: 'Montserrat', sans-serif;

@mixin font($weight: normal, $size: 16px, $height: 35px, $family: $main-font) {
  font: {
    weight: $weight;
    size: $size;
    family: $family;
  }
  line-height: $height;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card__title, .dashboard-card__content-box {
  font-family: $main-font;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card__content-box {
  text-align: justify;
}

.mat-card-header {
  flex-direction: column;
}

.dashboard-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.dashboard-card__img-box {
  box-sizing: border-box;
  height: 35%;
}

.dashboard-card__subtitle {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-size: 14px;
}

.dashboard-card__cal-icon {
  font-size: 14px;
}

.dashboard-card__arrow-icon {
  padding-top: 5px;
  font-size: 16px;
}

.button--more {
  padding: 0;
  margin: 0;
}

.filter {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 2%;
}

.filter__text {
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 15px 20px;
  @include font(400, 14px, 24px, $main-font);
  //font: 400 14px/24px $main-font;

}

.filter__label {
  display: block;
  padding: 10px 0;
  @include font(600, 16px, 20px, $main-font);
  //font: 600 16px/20px $main-font;
}

.mat-h1 {
  padding: 0 1%;
  //@include font(600, 16px, 20px, $main-font);
  font: 600 16px/20px $main-font;
}
