<div class="filter">
  <label for="filter-text" class="filter__label">Filter by keywords</label>
  <input [(ngModel)]="filterText" type="text" name="filter" id="filter-text" class="filter__text"
         (change)="filterText.length > 0 ? filterArticlesList() : getData()">
</div>
<div class="grid-container">
  <h1 class="mat-h1">Results: {{articlesList.length}}</h1>
  <mat-grid-list cols="3" rowHeight="530px">
    <mat-grid-tile *ngFor="let card of articlesList">
      <mat-card class="dashboard-card">
      <div class="dashboard-card__img-box">
        <img mat-card-image class="dashboard-card__img" src="{{card.imgUrl}}" alt="Article image">
      </div>
        <mat-card-header>
          <mat-card-subtitle class="dashboard-card__subtitle">
            <mat-icon aria-hidden="true" aria-label="icon calendar" class="dashboard-card__cal-icon">
              calendar_today
            </mat-icon>
            {{card.date}}
          </mat-card-subtitle>
          <mat-card-title class="dashboard-card__title" [innerHTML]="card.title | sanitizeHtml"></mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card__content-box">
          <div [innerHTML]="card.text | shorten | sanitizeHtml"></div>
        </mat-card-content>
        <a mat-button class="button button--more" (click)=showWholeArticle(card.id)>
          Read more
          <mat-icon aria-hidden="true" aria-label="icon calendar" class="dashboard-card__arrow-icon">
            arrow_forward
          </mat-icon>
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
